%h3
  Resend confirmation instructions

.row
  .col-lg-8
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'light-border' }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token

      .form-inputs
        = f.input :email, required: true, autofocus: true

      .form-actions
        = f.button :submit, "Resend confirmation instructions"

  .col-lg-3
    = render "devise/shared/links"
