.modal.fade{ id: "modal-new-customer-contact"}
  .modal-content
    .modal-header
      %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
        = icon 'times'

      %h3 Create New Customer Contact

    .row
      .col-lg-8
        = simple_form_for @new_contact, url: customer_contacts_path(customer_id: @customer.id) do |f|
          = f.error_notification

          .form-inputs
            = f.input :name, as: :select, collection: Customer::Contact::TYPES, autofocus: true, required: true, include_blank: false
            = f.input :detail, required: true

          .form-actions
            = f.button :submit, "Save"
            %a.btn.btn-default{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
              Cancel

    .modal-footer

