%nav.topnav.navbar.navbar-custom.navbar-fixed-top.navbar-transparent
  .navbar-header
    = link_to 'DGB', root_path

  .container
    %ul.nav.navbar-nav
      %li.dropdown.nav-tab{class: (params[:controller] =~ /order/ ? 'active' : nil)}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Order
        %ul.dropdown-menu
          %li.dropdown-entry= link_to "New Orders", orders_path
          %li.dropdown-entry= link_to "List of Orders", new_order_path

      %li.dropdown.nav-tab{class: (params[:controller] =~ /product/ ? 'active' : nil)}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Product
        %ul.dropdown-menu
          %li.dropdown-entry= link_to "New Products", products_path
          %li.dropdown-entry= link_to "Products Overview", new_product_path

      %li.dropdown.nav-tab{class: (params[:controller] =~ /customer/ ? 'active' : nil)}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Customer
        %ul.dropdown-menu
          %li.dropdown-entry= link_to "New Customer", customers_path
          %li.dropdown-entry= link_to "List of Customers", new_customer_path
