%div{ 'ng-controller'=>'LoginController' }

  .row
    .col-lg-5.col-lg-offset-3
      .login-box
        %h3
          Login to Your Account

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-vertical'}) do |f|
          .form-inputs
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true

          .form-actions
            = f.button :submit, "Log in"

        %hr

        = render "devise/shared/navless_links"
