%h3
  Log in

.row
  .col-lg-8
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'light-border form-vertical'}) do |f|
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :remember_me, as: :boolean

      .form-actions
        = f.button :submit, "Log in"

  .col-lg-3
    = render "devise/shared/links"
