= smart_listing_controls_for(:users) do
  .filter.input-append.search-inline-form
    = text_field_tag :filter, '', class: "form-control", placeholder: "Search name, email or id here", autocomplete: "off"
    %button.btn.btn-success{type: "submit"}
      = icon 'search'

- unless smart_listing.empty?
  %table.table.table-hover.table-condensed
    %thead
      %th= smart_listing.sortable "First Name", :first_name
      %th= smart_listing.sortable "Last Name", :last_name
      %th= smart_listing.sortable "Email", :email
      %th User Last Logged In
      %th User ID
      %th= smart_listing.sortable "User Status", :state
    %tbody
      - smart_listing.collection.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= user.last_sign_in_at.try(:strftime, "%d %b %Y %l:%M %p")
          %td= user.id
          %td.is-state= user.state
          %td
            :erb
              <div jw-action showurl=<%= admin_user_path(user) %>> </div>
          %td
            - if user.disabled?
              = link_to 'Enable', enable_admin_user_path(user), method: :put, class: 'jw-action'
            - else
              = link_to 'Disable', disable_admin_user_path(user), method: :put, class: 'jw-action'



  .pagination
    = smart_listing.paginate
    = smart_listing.pagination_per_page_links
- else

  .clearfix

  %p.warning.sl-no-record No records!
