= simple_form_for @product, html: { class: 'light-border' } do |f|
  = f.error_notification

  .row
    .col-lg-6
      .form-inputs
        = f.input :product_category_id, collection: Product::Category.all, include_blank: false, input_html: { 'ng-model'=>'newProduct.product_category_id' }
        = f.input :name, autofocus: true, required: true, input_html: { 'ng-model' => 'newProduct.name' }
        = f.input :weight, as: :string, input_html: { 'ng-model' => 'newProduct.weight' }
        = f.hint  'Weight is calculated by KG in the system'
        = f.input :purchase_price, as: :string, required: true
        = f.hint  'Purchase price is the ... It can be changed when'
        = f.input :selling_price, as: :string, required: true
        = f.hint  'Sellling price is the ... It can be changed when'
    .col-lg-6
      .form-inputs
        = f.input :description, input_html: { 'ng-model' => 'newProduct.description' }

  .row
    .col-lg-12
      .form-actions.pull-right
        = f.button :submit, "Save"
        = link_to 'Cancel', products_path
