= simple_form_for @product, html: { class: 'light-border' } do |f|
  = f.error_notification

  .row
    .col-lg-6
      .form-inputs
        = f.input :product_category_id, collection: Product::Category.all, include_blank: false, input_html: { class: 'js-select2 select2' }
        = f.input :name, autofocus: true, required: true
        = f.input :weight, as: :decimal
        = f.hint  'Weight is calculated by KG in the system'
        = f.input :purchase_price, as: :decimal
        = f.hint  'Purchase price is the ... It can be changed when'
        = f.input :selling_price, as: :decimal
        = f.hint  'Sellling price is the ... It can be changed when'
    .col-lg-6
      .form-inputs
        = f.input :description

  .row
    .col-lg-12
      .form-actions.pull-right
        = f.button :submit, "Save"
        = link_to 'Cancel', admin_products_path
